.contacto{
    padding: 5%;
}
.contacto h2{
    font-size: 2.3em;
padding-top: 5%;
padding-bottom: 0;
}
.contacto form{
    padding-right: 5%;
}
.contacto p{
    font-size: 1em;
    text-align: left;
}
.contacto i{
    font-size: 1.3em;
    padding-right: 5%;
}
.contacto .fa-github{
    margin-right: 0%;
}
.contacto .btn{
    color: $primary;
}
.contacto .btn:hover{
    color: $secondary;
    background-color: $light;
}