.inicio{
    padding: 5%;
}
.inicio h1{
    color: $secondary;
    font-size: 3.5em;
}
.inicio h2{
    color: $primary;
    font-size: 2em;
}
.inicio h3{
    color: $dark;
    font-size: 1.5em;
}
.inicio p{
    color: $primary;
    text-align: justify;
    padding-top: 2%;
}
