.mis-habilidades{
    text-align: center;
    
}

.mis-habilidades h2{
    font-size: 2.3em;
    padding: 5%;
    text-align: center;
    
}

.mis-habilidades h3{
    color: $primary;
    font-size: 1em;
    text-align: center;
}
.fa-html5{
    color: #e34c26;
    font-size: 3em;
    margin-right: 5%;
}

.fa-css3-alt{
    color: #264de4;
    font-size: 3em;
    margin-right: 5%;
}

.fa-git-alt{
    color:  #f34f29;
    font-size:3em;
    margin-right: 5%;
}
.fa-github{
    color: #050505;
    font-size: 3em;
    margin-right: 5%;
}

.fa-js{
    color: #f0db4f;
    font-size: 3em;
    margin-right: 5%;
}
.fa-sass{
    color: #cc6699;
    font-size: 3em;
    margin-right: 5%;
}
.fa-bootstrap{
    color: #563d7c;
    font-size: 3em;
    margin-right: 5%;
}
.fa-vuejs{
    color: #41B883;
    font-size: 3em;
}

